#dataCollectonContainer
{
    position: absolute;
    top: 85px;
    left: 0px;
    width: 800px;
    height: 550px;
}

/* AUTO AND TELEOP */
.dataCollection
{
    position: absolute;
    top: 30px;
    width: 350px;
    height: 245px;
}

.labelContainer
{
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: 125px;
}

.label
{
    position: relative;
    width: 100%;
    height: 24px;
    margin: 10px auto;
    font-size: 16px;
}

.redDataContainer
{
    position: absolute;
    top: 24px;
    right: 100px;
    width: 65px;
    font-size: 10px;
}

.blueDataContainer
{
    position: absolute;
    top: 24px;
    right: 30px;
    width: 65px;
    font-size: 10px;
}

.data
{
    position: relative;
    width: 100%;
    height: 22px;
    margin: 0px auto 16px auto;
    font-size: 16px;
}

/* AUTO */
#autoContainer
{
    left: 30px;
}

/* TELEOP */
#teleopContainer
{
    right: 30px;
}

/* TAGS AND COMMENTS */
#tagsAndCommentsContainer
{
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
    height: 210px;
}

.tagAndCommentContainer
{
    position: absolute;
    bottom: 30px;
    width: 320px;
}

.tagAndCommentInput
{
    position: absolute;
    width: 100%;
    top: 15px;
    left: 0px;
    bottom: 0px;
}

.redTagAndCommentContainer
{
    position: absolute;
    width: 140px;
    height: 150px;
    left: 0px;
    bottom: 0px;
    font-size: 10px;
}

.blueTagAndCommentContainer
{
    position: absolute;
    width: 140px;
    height: 150px;
    right: 0px;
    bottom: 0px;
    font-size: 10px;
}

#tagsContainer
{
    top: 10px;
    left: 30px;
}

#commentsContainer
{
    top: 10px;
    right: 30px;
}