.team
{
    width: 129px;
    height: 25px;
    margin: 5px 5px;
    display: inline-block;
    font-size: 16px;
}

#teamsContainer
{
    position: absolute;
    top: 0px;
    left: 380px;
    width: 427px;
}

#getTeamNumbers
{
    display: none;
}